{% extends 'layout.html.twig' %}

{% block content %}

        <!-- Header -->
        <header class="masthead" style="background-image: url('{{ asset('build/images/news/9.jpg') }}')">
            <div class="container">
                <div class="row">       
                    <div class="intro-text vertical-center smoothie col overlay">
                        <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s"><h2>Trick Name</h2></div>                                   
                    </div>
                </div>
            </div> 
        </header>

        <!-- Carousel -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col col-carousel">
            
                        <!--Carousel Wrapper-->
                        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                            <!--Controls-->
                            <div class="controls-top">
                                <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!--/.Controls-->

                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                                <li data-target="#multi-item-example" data-slide-to="1"></li>                                
                            </ol>
                            <!--/.Indicators-->

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">

                                    <div class="col-md-4" style="float:left">
                                        <div class="card mb-2">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="float:left">
                                        <div class="card mb-2">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="float:left">
                                        <div class="card mb-2">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                                        </div>
                                    </div>

                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">

                                    <div class="col-md-4" style="float:left">
                                        <div class="card mb-2">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="float:left">
                                        <div class="card mb-2">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="float:left">
                                        <div class="card mb-2">
                                        <img class="card-img-top"
                                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                                        </div>
                                    </div>

                                </div>
                                <!--/.Second slide-->                

                            </div>
                            <!--/.Slides-->

                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                </div>    
            </div>
        </section>
        <section>
            <div class="container section-inner">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus pharetra egestas. Morbi vitae enim suscipit, scelerisque dui ac, feugiat elit. In egestas porta bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut aliquet magna nisl, nec interdum nulla elementum aliquet. Quisque a augue venenatis nulla varius feugiat non eget ex. Etiam finibus viverra sagittis. Mauris lobortis non dolor ut consectetur. Vivamus eu elit quis velit vehicula efficitur ut et lacus. Integer sit amet tellus tempor, efficitur sapien vel, pretium mi. Etiam faucibus sem tortor, eget maximus ante elementum a. Donec sodales justo ultricies aliquam dapibus. Nunc rhoncus diam leo, et elementum tellus consectetur in.
                        </p>
                        <div class="item-metas text-muted mb30">
                            <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> ajouté le <span> 12/08/2020 à 13h45</span></span>
                            <span class="meta-item"><i class="pe-icon pe-7s-ticket"></i> catégorie <span>grab</span></span>
                            <span class="meta-item"><i class="pe-icon pe-7s-user"></i> auteur <span>Danny Jones</span></span>
                            <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> modifié le <span>13/08/2020 à 08h30</span></span>
                        </div>
                    </div>                 
                </div>
            </div>            
        </section>
        <hr>
        <section>
            <div class="container section-inner">
                <div class="row">
                    <div id="comments-list" class="col-lg-10 gap wow mx-auto">
                        
                        <!-- Comment form -->
                        <div id="comments-form" class="row wow">
                            <div class="col-lg-6 mx-auto">
                                <div id="comment_message"></div>
                                <form method="post" id="commentform" class="comment-form" role="form">
                                    <textarea name="comments1" class="form-control" id="comments1" placeholder="Votre commentaire *" required data-validation-required-message="Please enter a message."></textarea>
                                    <a class="btn btn-primary pull-right" href="#">Ajouter un commentaire</a>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <!--/.Comment form-->
                        
                        <div class="mt60 mb50 single-section-title">
                            <h3>3 Commentaires</h3>
                        </div>

                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="{{ asset('build/images/users/1.jpg') }}" alt="">  
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading meta-item">
                                        <span class="heading-font">Dave Evans</span>&nbsp; <small> le 30/07/2020 à 14h50</small>
                                    </div>
                                    <p>Was are delightful solicitude discovered collecting man day. Resolving neglected sir tolerably but existence conveying for. Day his put off unaffected literature partiality inhabiting.</p>
                                </div>
                            </div>
                        </div>

                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="{{ asset('build/images/users/2.jpg') }}" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading meta-item">
                                        <span class="heading-font">Stéphanie Evans</span>&nbsp; <small>le 30/07/2020 à 14h50</small>
                                    </div>
                                    <p>Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the. Abode stuff noisy manor blush yet the far. Up colonel so between removed so do.</p>
                                </div>
                            </div>
                        </div>                       
                            
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar comment-avatar" src="{{ asset('build/images/users/3.jpg') }}" alt="">
                            </div>
                            <div class="media-body">
                                <div class="well">
                                    <div class="media-heading meta-item">
                                        <span class="heading-font">Jean-Michel Rosé</span>&nbsp; <small>le 30/07/2020 à 14h50</small>
                                    </div>
                                    <p>Quitting informed concerns can men now. Projection to or up conviction uncommonly delightful continuing. In appetite ecstatic opinions hastened by handsome admitted.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row paging justify-content-center">
                            <a class="btn btn-primary" href="#"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>                    
                        </div>

                    </div>              
                </div>
            </div>
        </section>

{% endblock %}
